/*
 title: style.css Styles
 By:Stephen Ratliff
 for: VFW project 2
 Term: 12-11
*/



h1{
   margin:20px;
   border:1px solid #000000;
   padding:10px;
   background:#33cc33;
   
	
}
